body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px; /* Width of closed navbar */
  height: 100%;
  background-color: black;
  color: white;
  z-index: 1000;
  transition: width 0.5s;
}

#nav-toggle {
  padding: 20px;
  cursor: pointer;
}

#nav-content {
  display: none;
  padding: 20px;
}

.nav-open #nav-content {
  display: block;
}

.nav-open #navbar {
  width: 250px; /* Width of open navbar */
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

section {
  min-width: 100vw; /* Viewport width */
  padding: 40px;
}

/* Add more styles for your sections and content here */
