body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0; /* Light gray background */
}

.container {
  width: 400%; /* Four sections */
  height: 100vh;
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
}

.section {
  width: 25%; /* Each section occupies 25% of the viewport width */
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
}

#section1 { background-color: #D90368; } /* Pink */
#section2 { background-color: #00CCFF; } /* Cyan */
#section3 { background-color: #FFEA00; } /* Yellow */
#section4 { background-color: #000000; } /* Black */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Adjusted for horizontal layout */
  align-items: center; /* Center items vertically */
  z-index: 1000;
}

.navbar a, #navToggle {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

#navLinks {
  display: none; /* Hide links initially */
}

#navLinks a:hover, #navToggle:hover {
  background-color: #555;
}

/* No changes needed for the grid layout styles provided previously */

